body {
    background-color: #EFFFFD ;
  }
hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
h3{
    color: #488FB1;
}
h1{
    color: #488FB1;
}
li{
    color: #00f7ff;
}